@tailwind base;

@font-face {
    font-family: 'Belgrano';
    src: url('../fonts/Belgrano-Regular.eot');
    src: url('../fonts/Belgrano-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Belgrano-Regular.woff2') format('woff2'),
        url('../fonts/Belgrano-Regular.woff') format('woff'),
        url('../fonts/Belgrano-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belgrano';
    src: url('../fonts/Belgrano-Regular_1.eot');
    src: url('../fonts/Belgrano-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Belgrano-Regular_1.woff2') format('woff2'),
        url('../fonts/Belgrano-Regular_1.woff') format('woff'),
        url('../fonts/Belgrano-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Belgrano';
}

h1 {
    @apply .text-6xl;
}

h2 {
    @apply .text-5xl;
}

h3 {
    @apply .text-4xl;
}

h4 {
    @apply .text-3xl;
}

h5 {
    @apply .text-2xl;
}

h6 {
    @apply .text-xl;
}

a:hover {
    @apply .underline;
}

ul {
    @apply .pl-4 .list-disc;
}

ol {
    @apply .pl-4 .list-decimal;
}

@tailwind components;

body {
	font-family: 'Open Sans', sans-serif;
}

.btn {
    @apply .inline-block .px-3 .py-2 .rounded-md .font-semibold;

    &:hover {
        @apply .no-underline;
    }

    &:focus {
        @apply .outline-none;
    }

    &-primary {
        @apply .bg-primary .text-white;

        &:hover {
            @apply .bg-primary-darker;
        }
    }

    &-primary-outline {
        @apply .bg-white .border-2 .border-primary .text-primary;
    }
}

.form {
    &-control {
        @apply .block .w-full .px-2 .py-2 .border .border-gray-400;

        &:focus {
            @apply .outline-none .shadow-outline;
        }
    }

    &-error-message {
        @apply .text-xs .text-red-500;
    }
}

.table {
    @apply .w-full .rounded-md .overflow-hidden .bg-gray-200 .text-left;

    & td, th {
        @apply .px-3 .py-2;
    }

    & th {
        @apply .bg-gray-400;
    }

    & td {
        @apply .border-b .border-gray-400;
    }

    & tr:last-of-type td {
        @apply .border-none;
    }
}

.list-reset {
    @apply .list-none .pl-0;
}

.sidenav {
    &__link {
        @apply .flex .items-center .pl-2 .pr-3 .py-2;

        &:hover {
            @apply .bg-primary .no-underline;
        }
    }
}

.footer {
	background-image: url('../images/bg-footer.png');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.book__cover {
    width: 430px;
    box-shadow: 6px 6px 5px rgba($color: #000000, $alpha: .4);
    @apply .h-full;
}

.hero-section-h {
    height: 550px;
}

@tailwind utilities;
